@font-face {
  src: url(PlaylistScript.otf);
  font-family: PlaylistScript;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
  font-family: Nunito, sans-serif;
  font-size: 25px;
}

body {
  background-color: #378dd8;
  position: static;
}

#h1 {
  font-family: PlaylistScript;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: -5px;
  margin-left: 10px;
  font-size: 60px;
  display: inline-block;
  position: absolute;
}

li {
  padding-bottom: 2%;
}

#insc {
  margin-block-start: 0;
  margin-top: 75px;
  margin-left: 45px;
  color: gray;
  font-size: 25.5px;
  display: inline-block;
  position: absolute;
}

#svg-color {
  fill: #378dd8;
}

svg {
  display: inline-block;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #f6f6f6;
  display: inline-block;
}

#content {
  padding: 5% 5% 5% 5%;
}

#buttons {
  text-align: center;
  padding-bottom: 5%;
}

button {
  cursor: pointer;
  transition-duration: 0.8s;
  border-radius: 8px;
  border: 4px solid #378dd8;
  padding: 20px 20px;
  text-decoration: none;
  margin: 10px 10px;
  font-size: 30px !important;
}

button:hover {
  background-color: #378dd8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

hr {
  border-radius: 5px;
}

.fa-instagram {
  background: #f6f6f6;
  color: black;
}

.fa-whatsapp {
  background: #f6f6f6;
  color: black;
}

a {
  display: inline-block;
}
